node red
[
    {
        "id": "af058320912f2a97",
        "type": "tab",
        "label": "LDR",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "29c49bea196b410d",
        "type": "mqtt in",
        "z": "af058320912f2a97",
        "name": "",
        "topic": "XiaoMa/ldr/raw_value",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "857482e0ba252526",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 160,
        "wires": [
            [
                "8990ebc8f20f8aad"
            ]
        ]
    },
    {
        "id": "7ac9421a7b01ae93",
        "type": "ui_gauge",
        "z": "af058320912f2a97",
        "name": "",
        "group": "5127b9c6c85ed09c",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Light Level (%)",
        "label": "units",
        "format": "{{msg.payload.light_percent}}",
        "min": 0,
        "max": "6000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "2000",
        "seg2": "4000",
        "diff": false,
        "className": "",
        "x": 1080,
        "y": 180,
        "wires": []
    },
    {
        "id": "1d8af3aa34dc5c43",
        "type": "debug",
        "z": "af058320912f2a97",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 120,
        "wires": []
    },
    {
        "id": "ce016c9b8a47605a",
        "type": "ui_text",
        "z": "af058320912f2a97",
        "group": "5127b9c6c85ed09c",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Xiao Ma 6730613037",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 360,
        "y": 60,
        "wires": []
    },
    {
        "id": "589e1f76718bfd48",
        "type": "ui_text",
        "z": "af058320912f2a97",
        "group": "5127b9c6c85ed09c",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "LDR",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1050,
        "y": 240,
        "wires": []
    },
    {
        "id": "db27fa53a04f8cde",
        "type": "ui_chart",
        "z": "af058320912f2a97",
        "name": "",
        "group": "5127b9c6c85ed09c",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Time Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 690,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "ba42887001de9e8d",
        "type": "mqtt in",
        "z": "af058320912f2a97",
        "name": "",
        "topic": "XiaoMa/dht22/temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "857482e0ba252526",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 580,
        "wires": [
            [
                "2d0b6e204afd9844",
                "71e2cfbf0208615c",
                "85047db5e94109c6"
            ]
        ]
    },
    {
        "id": "8990ebc8f20f8aad",
        "type": "json",
        "z": "af058320912f2a97",
        "name": "Parse to number",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 570,
        "y": 160,
        "wires": [
            [
                "5e60f3d837b0bcf5"
            ]
        ]
    },
    {
        "id": "5e60f3d837b0bcf5",
        "type": "change",
        "z": "af058320912f2a97",
        "name": "Ensure numeric payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "jsonata"
            }
        ],
        "x": 850,
        "y": 180,
        "wires": [
            [
                "1d8af3aa34dc5c43",
                "7ac9421a7b01ae93",
                "589e1f76718bfd48"
            ]
        ]
    },
    {
        "id": "c0990b649b512b9a",
        "type": "mqtt in",
        "z": "af058320912f2a97",
        "name": "",
        "topic": "XiaoMa/ntp/time",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "daaf9b9e1675aead",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 360,
        "wires": [
            [
                "c7cfd60963a5e621",
                "db27fa53a04f8cde"
            ]
        ]
    },
    {
        "id": "c7cfd60963a5e621",
        "type": "debug",
        "z": "af058320912f2a97",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 320,
        "wires": []
    },
    {
        "id": "2d0b6e204afd9844",
        "type": "ui_widget_thermometer",
        "z": "af058320912f2a97",
        "group": "9e51f63e0753a9ef",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "title": "temp",
        "numColor": 3,
        "colorTop": "#2196f3",
        "colorMiddle": "#8bc34a",
        "colorBottom": "#f44336",
        "unit": "°C",
        "scale": "normal",
        "minTemp": 0,
        "maxTemp": 100,
        "minTempMoreThanMaxTemp": "1",
        "numberOfDecimals": "0",
        "showPercentage": "0",
        "currentTempFontSize": "1.2",
        "x": 750,
        "y": 600,
        "wires": []
    },
    {
        "id": "71e2cfbf0208615c",
        "type": "ui_gauge",
        "z": "af058320912f2a97",
        "name": "",
        "group": "9e51f63e0753a9ef",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": " temp gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 680,
        "wires": []
    },
    {
        "id": "85047db5e94109c6",
        "type": "debug",
        "z": "af058320912f2a97",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 520,
        "wires": []
    },
    {
        "id": "ffb8c001040112e3",
        "type": "mqtt in",
        "z": "af058320912f2a97",
        "name": "",
        "topic": "XiaoMa/dht22/humi",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "857482e0ba252526",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 800,
        "wires": [
            [
                "a1cd7fe93110994b",
                "9749c5112a8245d1"
            ]
        ]
    },
    {
        "id": "a1cd7fe93110994b",
        "type": "debug",
        "z": "af058320912f2a97",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 740,
        "wires": []
    },
    {
        "id": "9749c5112a8245d1",
        "type": "ui_gauge",
        "z": "af058320912f2a97",
        "name": "",
        "group": "8ca9fa2f6abf3a68",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "humi gauge1",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 590,
        "y": 880,
        "wires": []
    },
    {
        "id": "btn_flip",
        "type": "ui_button",
        "z": "af058320912f2a97",
        "name": "flip",
        "group": "0645d3aaa514a988",
        "order": 5,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "flip",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "refresh",
        "payload": "ON",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 250,
        "y": 980,
        "wires": [
            [
                "pub_flip"
            ]
        ]
    },
    {
        "id": "pub_flip",
        "type": "mqtt out",
        "z": "af058320912f2a97",
        "name": "",
        "topic": "XiaoMa/cmd/flip",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "daaf9b9e1675aead",
        "x": 680,
        "y": 980,
        "wires": []
    },
    {
        "id": "btn_mute",
        "type": "ui_button",
        "z": "af058320912f2a97",
        "name": "mute",
        "group": "94932ecfd030e6b1",
        "order": 6,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "mute",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "volume-off",
        "payload": "ON",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 250,
        "y": 1080,
        "wires": [
            [
                "pub_mute"
            ]
        ]
    },
    {
        "id": "pub_mute",
        "type": "mqtt out",
        "z": "af058320912f2a97",
        "name": "",
        "topic": "XiaoMa/cmd/mute",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "daaf9b9e1675aead",
        "x": 690,
        "y": 1080,
        "wires": []
    },
    {
        "id": "e07c32400e25ac6a",
        "type": "ui_button",
        "z": "af058320912f2a97",
        "name": "alarm",
        "group": "ac3d7438ba1a4a1b",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "alarm",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "power-settings-new",
        "payload": "ON",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 250,
        "y": 1180,
        "wires": [
            [
                "c558a9f9674a8ab3"
            ]
        ]
    },
    {
        "id": "c558a9f9674a8ab3",
        "type": "mqtt out",
        "z": "af058320912f2a97",
        "name": "",
        "topic": "XiaoMa/cmd/alarm",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "daaf9b9e1675aead",
        "x": 670,
        "y": 1180,
        "wires": []
    },
    {
        "id": "50172213d096dc64",
        "type": "mqtt out",
        "z": "af058320912f2a97",
        "name": "",
        "topic": "XiaoMa/cmd/threshold",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "daaf9b9e1675aead",
        "x": 700,
        "y": 1320,
        "wires": []
    },
    {
        "id": "slider_th",
        "type": "ui_slider",
        "z": "af058320912f2a97",
        "name": "Alarm Threshold",
        "label": "Alarm Threshold ℃",
        "tooltip": "Alarm Threshold ℃",
        "group": "993e935d4fa77733",
        "order": 4,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "topicType": "str",
        "min": 0,
        "max": 99,
        "step": 1,
        "className": "",
        "x": 340,
        "y": 1320,
        "wires": [
            [
                "50172213d096dc64",
                "txt_th"
            ]
        ]
    },
    {
        "id": "txt_th",
        "type": "ui_text",
        "z": "af058320912f2a97",
        "group": "993e935d4fa77733",
        "order": 5,
        "width": 3,
        "height": 1,
        "name": "Threshold",
        "label": "Threshold",
        "format": "{{msg.payload}} ℃",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 520,
        "y": 1420,
        "wires": []
    },
    {
        "id": "857482e0ba252526",
        "type": "mqtt-broker",
        "name": "broker.hivemq.com",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "5127b9c6c85ed09c",
        "type": "ui_group",
        "name": "time and ldr",
        "tab": "bafd3b487b7523f9",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "daaf9b9e1675aead",
        "type": "mqtt-broker",
        "name": "broker.hivemq.com",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "9e51f63e0753a9ef",
        "type": "ui_group",
        "name": "temp",
        "tab": "bafd3b487b7523f9",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8ca9fa2f6abf3a68",
        "type": "ui_group",
        "name": "Humi",
        "tab": "bafd3b487b7523f9",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "0645d3aaa514a988",
        "type": "ui_group",
        "name": "flip",
        "tab": "db543f53e5bdf803",
        "order": 5,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "94932ecfd030e6b1",
        "type": "ui_group",
        "name": "mute",
        "tab": "db543f53e5bdf803",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ac3d7438ba1a4a1b",
        "type": "ui_group",
        "name": "alarm",
        "tab": "db543f53e5bdf803",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "993e935d4fa77733",
        "type": "ui_group",
        "name": "Threshold",
        "tab": "db543f53e5bdf803",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "bafd3b487b7523f9",
        "type": "ui_tab",
        "name": "LDR",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "db543f53e5bdf803",
        "type": "ui_tab",
        "name": "contral",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9be39a8a85af3357",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6",
            "@studiobox/node-red-contrib-ui-widget-thermometer": "0.7.7"
        }
    }
]
